@font-face {
    font-family: 'Headline';
    src: url('../fonts/Headline.woff2') format('woff2');
}

@font-face {
    font-family: 'ForbiddenStars';
    src: url('../fonts/ForbiddenStars.woff2') format('woff2');
}

@font-face {
    font-family: 'EventFont';
    src: url('../fonts/EventFont.woff2') format('woff2');
}

:root {
  --text:#bbb;
  --text_2:#222;
  --text_3: #000;
  --background:#999;
  --background_2:#222;
  --background_3:#777;
  --highlight: #aa6;
  --spinnerColor: #36f;
  --blue:rgba(47, 95, 255, 0.5);
  --border:1px solid rgba(0, 0, 100, 0.5);
  --max-width:1040px;
  --content-width:940px;
}

body {
    top: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Headline';
    width: 1420px;
    min-height: 100vh;
    gap: 5px;
    color: var(--text);
    background: var(--background);
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'EventFont';
    width: 450px;
    height: 650px;
    color: var(--text);
    font-size: 25px;
    background-color: var(--background_2);
    border-radius: 8px;
}

.card-placeholder .card-spinner {
    border: var(--border);
    border-top: 4px solid var(--spinnerColor);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

#expansion-tabs {
    font-size: 30px;
    width: 100%;
}

#faction-tabs {
    font-size: 28px;
    width: 100%;
}

#cards-tabs {
    font-size: 26px;
    width: 100%;
}

.expansion-header,
.faction-header,
.card-header {
    border-radius:12px;
    display: inline-block;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--background_2);
    z-index: 1000;
    cursor: grab;
}

.expansion-header.active,
.faction-header.active {
    background-color: var(--background_3);
    color: var(--text_2);
    box-shadow: 0 0 30px #f80;
    cursor: default;
}

.card-header.active {
    background-color: var(--background_3);
    box-shadow: 0 0 10px #090;
    color: var(--text_2);
    cursor: default;
}

.card-container {
    display: none;
}

.card-container.active {
    display: block;
}

#faq-container {
    display: none;
    width: 100%;
    position: relative;
    flex: 1;
}

#faq-container.active {
    display: flex;
    flex-direction: column;
}

#faq-frame {
    width: 100%;
    min-height: 760px;
    border: none;
    border-radius: 14px;
    display: block;
    height: auto;
}

.grid {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--background_3);
    gap: 5px 5px;
    padding: 10px;
}

.grid.events {
    grid-template-columns: repeat(4, 1fr);
    width: 1835px;
}

.grid.cardBackImages {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 5px;
}

.grid.factionCardImage {
    grid-template-columns: repeat(1, 1fr);
    width: 1835px;
}

.grid.mapImages {
    grid-template-columns: repeat(2, 1fr);
    width: 1835px;
}


.grid.orders {
    grid-template-columns: repeat(3, 1fr);
}

.grid.combat.s-section {
    background-color: #090;
}

.grid.combat.t1-section {
    background-color: #990;
}

.grid.combat.t2-section {
    background-color: #950;
}

.grid.combat.t3-section {
    background-color: #900;
}

.faction-header.active[data-faction="space_marines"] {
    background-color: #66f;
    box-shadow: 0 0 5px #66f;
}

.faction-header.active[data-faction="chaos"] {
    background-color: #e11;
    box-shadow: 0 0 5px #f55;
}

.faction-header.active[data-faction="ork"] {
    background-color: #2f3;
    box-shadow: 0 0 5px #2f4;
}

.faction-header.active[data-faction="eldar"] {
    background-color: #ff1;
    box-shadow: 0 0 5px #ff1;
}

.faction-header.active[data-faction="ig"] {
    background-color: #999;
    color: #050;
    box-shadow: 0 0 5px #ccc;
}

.faction-header.active[data-faction="tyranid"] {
    background-color: #b3f;
    box-shadow: 0 0 5px #c4f;
}

.faction-header.active[data-faction="necron"] {
    background-color: #000;
    color: #2f1;
    box-shadow: 0 0 5px #2f1;
}

.faction-header.active[data-faction="tau"] {
    background-color: #fa1;
    box-shadow: 0 0 5px #fa1;
}

.faction-header.active[data-faction="adeptus_mechanicus"] {
    background-color: #a52;
    box-shadow: 0 0 5px #a52;
}

.faction-header.active[data-faction="adepta_sororitas"] {
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    color: #000;
}

.faction-header.active[data-faction="dark_eldar"] {
    background-color: #1ed;
    box-shadow: 0 0 5px #1ed;
    color: #000;
}

.faction-header.active[data-faction="inquisition"] {
    background-color: #80f;
    box-shadow: 0 0 5px #80f;
    color: #fff;
}

.faction-header.active[data-faction="worldeaters"] {
    background-color: #f33;
    box-shadow: 0 0 5px #f55;
}

.faction-header.active[data-faction="thousandsons"] {
    background-color: #22f;
    color: #cc2;
    box-shadow: 0 0 5px #22f;
}

.faction-header.active[data-faction="emperorschildren"] {
    background-color: #d2a;
    box-shadow: 0 0 5px #d2a;
}

.faction-header.active[data-faction="deathguard"] {
    background-color: #351;
    color: #aa0;
    box-shadow: 0 0 5px #351;
}
